.outlineButton {
    width: 100%;
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    background-color: white;
    border: 2px solid #ff5722;
    color: #ff5722;
}

.outlineButton:hover {
    background-color: #fff3e0;
}